
/* КОНСОЛЬ ОТЛАДКИ */

div.debug_console {
	background-color: #FFFFD4;
	width: 100%;

	overflow: auto;
	display: table;
}

div.debug_console_title {
	padding: 10px 10px 0px 10px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000000;
}

div.debug_console_info {
	padding: 0px 10px 0px 10px;
	margin-bottom: 10px;
	font-family: Verdana;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
}

div.debug_console_queries {
	padding: 0px 10px 10px 10px;
	font-family: Courier;
	font-size: 12px;
	color: #008000;
	margin-bottom: 10px;
	line-height: 20px;
}

.debug_console_queries span {
	color: #000000;
}

.included_files {
	padding: 0px 10px;
	margin-bottom: 10px;
}

.included_files div {
	font-family: Courier;
	font-size: 12px;
}

.debug_list {
	width: 200px;
	display: table-cell;
	border-right: #ccc solid 1px;
}

.request_info {
	display: none;
}





